HERE_API_KEY=
TOMTOM_API_KEY=
TRAFFIC_VALIDATION_MONTHLY_LIMIT=20
HERE_MONTHLY_LIMIT=20
TOMTOM_MONTHLY_LIMIT=20
HERE_DAILY_LIMIT=2500
TOMTOM_DAILY_LIMIT=2500
TRAFFIC_VALIDATION_BBOX=21.19,45.73,21.24,45.77
